header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(36 62 106);
  color: whitesmoke;
  padding: 10px 20px;
}
.view_btn{
  font-size: 14px;
  padding: 5px 30px;
  color:rgb(36 62 106);
  border: 1px sold black;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid brown;
}
.photo_id{
  font-size: 10px;
    color: #39383b;
}
.poll_container{
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}
.top_charts{
  display: none;
}

.all_polls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  padding-inline: 16px;
  flex: 1;
  overflow-y: auto;
}

.poll_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.vote_button {
  font-size: 14px;
  padding: 5px 30px;
  outline: none;
  background-color: chartreuse;
  border: 1px sold black;
  border-radius: 5px;
  cursor: pointer;
}
.vote_button:hover {
  background-color: black;
  color: white;
}
.votes_count {
  display: flex;
  font-size: 14px;
  padding: 5px 30px;
  outline: none;
  background-color: rgb(228, 222, 222);
  border: none;
  border-radius: 5px;
  cursor: auto;
  gap: 10px;
  justify-content: center;
}
.remaining_notice{
  text-align: center;
  background-color: aliceblue;
  margin: auto;
  width: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
}
.remaining_notice span{
  font-size: 23px;
  font-weight: bold;
}

.card_footer {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.custom_backdrop {
  position: absolute;
  z-index: 99;
  background: #7eff78;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  opacity: 0.4;
}

input {
  border: none;
  outline: none;
}

dialog {
  -webkit-animation: show 1s ease normal;
  animation: show 1s ease normal;
}

dialog div {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

@keyframes show {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

/* media query */
@media screen and (min-width: 769px) {
  .all_polls {
    display: grid;
    place-content: flex-start;
    align-items: baseline;
}
.poll_container{
  display: flex;
  flex-direction: row-reverse;
  max-height: 90vh;
}
.top_charts{
  display: block;
}


.single_active{
  display: flex;
  justify-content: center;
}

.single_active > .card_footer {
  display: grid;
  padding: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }


}

@media screen and (min-width: 1025px) {
  .all_polls {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
