header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(36 62 106);
  color: whitesmoke;
  padding: 10px 20px;
}
.header_search_box {
	width: 100%;
}
.header_search_box input{
	color: #39383b;
	height: 40px;
	width: 100%;
	border-radius: 5px 0 0 5px;
	padding: 5px;
	outline: 0px solid transparent;
}
.header_search_box i:hover{
	cursor: pointer;
}
.header_search_box i{
	width: 50px;
	height: 40px;
	color: black;
	background-color: rgb(228, 222, 222);
	border-radius: 0 5px 5px 0;
}
.active{
  display: block !important;
}
.single_poll{
  flex-direction: column;
}
.vote_section{
  display: flex;
  align-items: baseline;
  gap: 5px;  
}
.vote_section i{
  font-size: 2em;
  color: #DB4437;
}
.author_section{
  display: flex;
  align-items: baseline;
}
.author_section i{
  font-size: 2em;
}
.author_name{
  display: grid;
  font-size: 2em;
  padding: 0;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}
.author_name span{
  font-size: 12px;
  letter-spacing: 2px;
}
.top_charts h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.badge{
  position: absolute;
  background: #e92b3d;
  color: white;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 18px;
}
.chart_card{
  margin: 5px 0;
  position: relative;
  border-bottom: 1px solid #9f9f9f;
  padding: 5px;
  cursor: pointer;
}
.chart_card:hover{
  background-color: #7fff787b;
}
.vote_count{
  font-size: 2em;
  color: rgb(36 62 106);
  letter-spacing: 2px;
  font-weight: 900;
}
.vote_count span{
  font-size: 14px;
  font-weight: 200;
  margin: 0 10px;
}
.view_btn{
  font-size: 14px;
  padding: 5px 30px;
  color:rgb(36 62 106);
  border: 1px sold black;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid brown;
}
.photo_id{
  font-size: 10px;
  color: #39383b;
  font-weight: 800;
  letter-spacing: 1px;
}
.poll_container{
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}
.top_charts{
  display: none;
  padding: 10px 24px;
  background: #8a889345;
  overflow-y: scroll;
  min-height: 100vh;
}

.all_polls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  padding-inline: 16px;
  flex: 1;
  overflow-y: auto;
}

.poll_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.details{
  background: antiquewhite;
  padding: 5px;
}


.vote_button {
  font-size: 14px;
  padding: 5px 30px;
  outline: none;
  background-color: #DB4437;
  color: white;
  border: 1px sold black;
  border-radius: 5px;
  cursor: pointer;
}
.date_h2{
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
.vote_button:hover {
  background-color: black;
  color: white;
}
.votes_count {
  display: flex;
  font-size: 14px;
  padding: 5px 30px;
  outline: none;
  background-color: rgb(228, 222, 222);
  border: none;
  border-radius: 5px;
  cursor: auto;
  gap: 10px;
  justify-content: center;
}
.remaining_notice{
  text-align: center;
  background-color: aliceblue;
  margin: auto;
  width: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
}
.remaining_notice span{
  font-size: 23px;
  font-weight: bold;
}

.card_footer {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.custom_backdrop {
  position: absolute;
  z-index: 99;
  background: #7eff78;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  opacity: 0.4;
}

input {
  border: none;
  outline: none;
}

dialog {
  -webkit-animation: show 1s ease normal;
  animation: show 1s ease normal;
}

dialog div {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

@keyframes show {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.mobile_btn{
  text-align: center;
  width: 80%;
  border: 1px solid black;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 42px;
  padding: 5px 31px;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 5px;
}
dialog{
  position: absolute;
    height: 100vh;
    top: 0%;
}

.chart_on {
  background-color: #000;
  color: #fff;
  z-index: 10;
}


/* media query */
@media screen and (min-width: 769px) {
  
  .mobile_btn{
    display: none;
  }

  .single_poll{
    justify-content: center;
    gap: 20px;
    flex-direction: row;
  }
  .single_poll img{
    max-width: 45vw !important;
    flex: 1;
  }

  .all_polls {
    display: grid;
    /* place-content: flex-start; */
    /* align-items: baseline; */
}
.poll_container{
  display: flex;
  flex-direction: row-reverse;
  max-height: 90vh;
}
.top_charts{
  display: block;
  min-height: 60vh !important;
}


.single_active{
  display: flex;
  justify-content: center;
}

.single_active > .card_footer {
  display: grid;
  padding: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
.details {
  height: fit-content;
  padding: 60px 16px;
  border-radius: 10px;
  padding: 2em 2em;;
}

.copy_link{
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}


}

@media screen and (min-width: 1025px) {
  .all_polls {
    grid-template-columns: 1fr 1fr 1fr;

  }
  .mobile_btn{
    display: none;
  }
}
