
header{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(36 62 106);
  color: whitesmoke;
  padding: 10px 20px;
}

header .heading_container{
  flex: 1;
}

.all_polls{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.poll_card{
  width: 45vw;
}
.poll_card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.vote_button{
  font-size: 20px;
  padding: 9px 30px;
  outline: none;
  background-color: chartreuse;
  border: 1px sold black;
  border-radius: 5px;
  cursor: pointer;
}
.vote_button:hover{
  background-color: black;
  color: white;
}
.votes_count{
  display: flex;
  font-size: 20px;
  padding: 9px 30px;
  outline: none;
  background-color: rgb(228, 222, 222);
  border: none;
  border-radius: 5px;
  cursor:auto;
  gap: 10px;
  justify-content: center;
}

.card_footer{
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.custom_backdrop{
  position: absolute;
    z-index: 99;
    background: #7eff78;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    opacity: 0.4;
}

.single_active{
  display: flex;
  justify-content: center;
}

.single_active > .card_footer {
  display: grid;
  padding: 10px;
}